<div class="row log-in-box ">

  <div class="row">
    <div class="input-field col  s15  m4 l4 ">
      <input id="IssueCode" [(ngModel)]="issue.issueCode" [readonly]="mode === 'EDIT'" type="text" class="validate grey-text text-darken-1"
        placeholder="Please input issue code">
      <label for="issueCode">Issue Code</label>
    </div>
  </div>

  <div class="row">
    <select [(ngModel)]="issue.compName" materialize="material_select" [materializeSelectOptions]="companyData"> 
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let comp of companyData;" 
              [value]="comp.name">{{comp.name}}</option>
          </select>
  </div>

  <div class="row">
    <select [(ngModel)]="issue.customerName" materialize="material_select" [materializeSelectOptions]="customerData"> 
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let cus of customerData;" 
              [value]="cus.custName">{{cus.custName}}</option>
          </select>
  </div>

  <div class="row">
    <select [(ngModel)]="issue.userName" materialize="material_select" [materializeSelectOptions]="customerData"> 
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let user of UserData;" 
              [value]="user.firstName">{{user.firstName}}</option>
          </select>
  </div>

  <div class="row log-in-box">
    <form action="#">

      <label class="grey-text text-darken-1">Status :  </label>

      <input name="status" type="radio" value="inProcess" [(ngModel)]="issue.status" id="inProcess" />
      <label for="inProcess">In Process</label>

      <input name="status" type="radio" value="complete" [(ngModel)]="issue.status" id="complete" />
      <label for="complete">Complete</label>

      <input name="status" type="radio" value="delete" [(ngModel)]="issue.status" id="delete" />
      <label for="delete">Delete</label>

    </form>
  </div>


  <div class="row">
    <form class=" col s12  m10 l8">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="Issuedetail" name="IssueDetail" class="materialize-textarea grey-text text-darken-1" type="textarea" [(ngModel)]="issue.issueDetail"></textarea>
          <label for="issueDetail">Issue Detail</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col s6  m5 l4 grey-text text-darken-1">
      <input id="issueDate" type="text" [(ngModel)]="issue.issueDate" class="datepicker" materialize="pickadate" [materializeParams]="[{closeOnSelect: true, format: 'dd/mm/yyyy'}]"
      />
    </div>
  </div>

  <br>
  <a class="waves-effect waves-light btn col col s12  m10 l8 teal darken-4" (click)="onSave();">save</a>

</div>